@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --wood-light: #e8d0a9;
  --wood-dark: #8b5e3c;
  --leaf-green: #74c74a;
}

@theme inline {
  --font-sans: var(--font-varela-round), sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #262626;
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}